<footer>
    <div class="row footer-bottom">
        <div class="col-twelve">
            <div class="copyright">
                <span>© Copyright {{title}} 2021</span> 	
            </div>
            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer> 