<header class="s-header">
    <div class="header-logo">
        <a class="site-logo" href="index.html">
            <img src="{{url}}/images/logo.png" alt="Homepage">
        </a>
    </div>
    <nav class="header-nav">
        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
        <div class="header-nav__content">
            <h3>Navigation</h3>
            {{>user this}}
            <ul class="header-nav__list">
                <li class="current"><a class="smoothscroll"  href="/home" title="home">Home</a></li>
                {{#if employee.canCreateEmployee}}
                    <li><a class="smoothscroll"  href="/role" title="about">Role</a></li>
                {{/if}}
                {{#if employee.canCreateEmployee}}
                    <li><a class="smoothscroll"  href="/employee" title="about">Employee</a></li>
                {{else}}
                    <li><a class="smoothscroll"  href="/employee/update?employeeId={{employee.employeeId}}" title="about">Employee</a></li>
                {{/if}}
                <li><a class="smoothscroll"  href="/job" title="services">Job</a></li>
                <li><a class="smoothscroll"  href="/schedule" title="works">Schedule</a></li>
                <li><a class="smoothscroll"  href="/contact" title="contact">About</a></li>
            </ul>
        </div> 
    </nav>
    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-text">Menu</span>
        <span class="header-menu-icon"></span>
    </a>
</header>