<section class="panel b-blue">  
    {{>user this}}
    <article class="panel__wrapper">
      <div class="panel__content">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="home-content">
                Welcome to Resturant Management System
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>